import { Injectable, inject } from '@angular/core';
import { HttpClient } from '@angular/common/http';

export const yourGuardFunction: CanActivateFn = (
  next: ActivatedRouteSnapshot,
  state: RouterStateSnapshot
) => {
  // your  logic goes here
}
